@import "./base.css";

body {
  width: 100%;
  background-color: var(--vt-c-black-soft);
  color: var(--vt-c-white-soft);
}

#app {
  width: 100%;
  min-height: 100vh;

  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.w-full {
  width: 100%;
}

.padding {
  padding: 4px;
}

.text-center {
  text-align: center;
}

button {
  cursor: pointer;
}
