@import "./base.css";

body {
  width: 100%;
  background-color: var(--vt-c-black-soft);
  color: var(--vt-c-white-soft);
}

#app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
